
/* .upload-btn-container {
  /* display: flex; */
/* } */ */

.btn-styles {
   padding: 12px 25px;
   border-radius: 10px;
   background-color: grey;
   text-transform: capitalize;
   font-weight: 500;
   white-space: nowrap;
 }

.btn-styles:hover {
   background-color: 'gray'
 }

.filename-uploaded {
  padding: 0px 10px;
  font-size: 12px;
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
  margin-top: 20px;
}

.clear-file {
  align-self: center;
  cursor: pointer;
}
